{% extends 'base.html.twig' %}

{% block title %}Organization
{% endblock %}

{% block body %}
	<h1>Organisations</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">
					Id
				</th>
				<th scope="col">
					Name
				</th>
				<th scope="col">
					Description
				</th>
				<th scope="col">
					Delete
				</th>
			</tr>
		</thead>
		<tbody>
			{% for data in datas %}
				<tr>
					<td>{{loop.index0}}</td>
					<td>{{data.name}}</td>
					<td>{{data.description}}</td>
					<td>
						<button>
							<a href="delete/{{loop.index0}}">Delete</a>

						</button>
					</td>
				</tr>
				{% else %}No data found
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
